<div class="container">
  <h1>CONTACT US</h1>
  <h3>Let us know how we are doing</h3>
  <p>
    We are always looking for opportunities to improve our services and also enjoy hearing when we are doing things right.
  </p>
  <p>Click on the "Drop Us a Line" link to get in touch with us.</p>
  <address class="">
    <h3>TruTouch</h3>
    <span>7350 E. Colfax Avenue, Denver, Colorado 80220</span>
    <%= phone_to "(303) 993-5213" do %>
      <strong>Phone me:</strong>
    <% end %>

  </address>
  <h3>Hours</h3>
  <ul>
    <li>Mon: 09:00 am – 06:00 pm</li>
    <li>Tue: 09:00 am – 06:00 pm</li>
    <li>Wed: 09:00 am – 06:00 pm</li>
    <li>Thu: 09:00 am – 06:00 pm</li>
    <li>Fri: 09:00 am – 06:00 pm</li>
    <li>Sat: 08:00 am – 04:30 pm</li>
    <li>Sun: By Appointment</li>
  </ul>
  <% button_to "email", "DROP US A LINE!" %>
</div>
