<div class="prooducts_used_container">
  <h1>Tint, Clearbra, and Detail Products</h1>
  <div id="3m_tint" class="">
    <%= image_tag "3m_certified_installer_img.jpeg", alt: "3m Certified Installer", id: "3MCI" %>
    <div class="">
      <h3>3M Certified Tint and Clearbra Installer</h3>
      <p>
        At TruTouch we used only best for our customers.  Providing them with an option of both ceramic and non-ceramic window Tint options along with an outstanding Scotchgard Paint Protector (Clearbra).
      </p>
      <p>
        Only approved 3M tint and clearbra install and seller within a 30 mile radius
      </p>
    </div>
    <div id="3mt" class="">
      <h4>With 3M Tint you will</h4>
      <ol>
        <li>Number one most recognized tint company</li>
        <li>Premium dyed film technology</li>
        <li>Stay 45% cooler</li>
        <li>See a reduction in glare up to 93%</li>
        <li>See higher UV protection 99%</li>
        <li>Increase your privacy by blocking 95% of visible light</li>
        <li>There is a lifetime warranty for all 3M Tint</li>
        <li>You will not experience blistering, bubbling, or delamination</li>
      </ol>
    </div>
    <div id="3mcb" class="">
      <h4>With 3M Scotchgard Paint Protector (Clearbra) you will</h4>
      <ol>
        <li>Find your vehicle looks newer longer</li>
        <li>It protects paint against chips, scratches, stands and the elements</li>
        <li>It's durable and maintenance free</li>
        <li>It's virtually invisible protection</li>
        <li>There is a 10 year warranty from date of purchase</li>
        <li>Be free of yellowing, bubbling or cracking</li>
      </ol>
    </div>
  </div>
  <div id="lexen_tint" class="">
    <%= image_tag "https://cdn.shopify.com/s/files/1/0175/1259/5510/files/lexen-logo.png?height=300&pad_color=fff&v=1588188573&width=440", alt: "Lexen Window Tint", id: "lexenCI" %>
    <div id="lt" class="">
      <h3>Only approved Lexen Tint Installer within a 30 Mile Radius</h3>
      <ol>
        <li>Premium 2 Ply carbon-based film</li>
        <li>Particle technology film containing nano technology for maximum heat rejection</li>
        <li>Has a 99% UV protection</li>
        <li>IR heat rejection which helps while waiting at a traffic light reduce the heat impact</li>
        <li>Overall vehicle heat reduction</li>
        <li>Reduces Glare</li>
        <li>Helps address privacy and security concerns</li>
        <li>Lifetime warranty</li>
      </ol>
    </div>
  </div
  <div id="adams_polish" class="">
    <%= image_tag "https://m.media-amazon.com/images/S/aplus-media/sc/cfae358a-430c-4469-ae18-54e5841def29.__CR0,0,600,180_PT0_SX600_V1___.jpg", alt: "Adams Polish Products", id: "adams_polish_img" %>
    <div class="adams_products">
      <div id="adams_detail" class="">
        <h3>Detail Products by Adams</h3>
        <p>
          Adam's is recognized in the detail industry as on of the top product distributors and TruTouch only use the best detail products for our customers.
          <br>
          <br>
          Adams products consist of:
        </p>
        <ol>
          <li>The ultra foam shampoo used to get all the dirt and grim off</li>
          <li>Clay bar for those vehicles needing that baby soft feel</li>
          <li>Three stage correcting polishes to help bring out the shine & reduce light scratches</li>
          <li>Premium extra soft microfiber towels to ensure we protect the quality of your paint job while detailing the vehicle</li>
          <li>Top of the line wax products the buttery, patriot, and carnuba waxes</li>
        </ol>
      </div>
      <div id="adams_ceramic" class="">
        <h3>Ceramic Paint Protective Coat</h3>
        <p>
          Helps to maintain the longevity of your vehicles paint.
          <br>
          Recommended for new cars or cars that have received paint correction and scratch removal work.
        </p>
        <ol>
          <li>Last longer than a wax or sealant</li>
          <li>Last from 2 to 5 years depending on the package</li>
          <li>Helps to protect against harsh chemicals, paint fading/oxidization</li>
          <li>Helps with keeping paint showroom quality and increases resales value</li>
        </ol>
      </div>
    </div>
  </div>
</div>
