<div class="">
  <h3 style="text-align:center">Form Style</h3>
  <div class="form-selection">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="single-line-form" name="single-line-form" checked="checked">
      <label class="form-check-label" for="single-line-form">Single Line Form</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="structured-form" name="structured-form">
      <label class="form-check-label" for="structured-form">Structured Form</label>
    </div>
  </div>
</div>
