<div class="search-container" id="single_line">
  <div class="address-labels">
    <span>Address</span>
    <div class="" style="margin:10px"></div>
    <i>
      ex. 7350 E Colfax Ave, Denver, CO 80220
    </i>
  </div>
  <div class="input-container">
    <%= form.text_field :address_line1, placeholder: "Enter an address here" %>
  </div>
</div>
