.collapsible {
  background-color: #0068ad;
  color: white;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  z-index: 6;
}

.active,
.collapsible:hover {
  background-color: #bfc9cf;
}

.covid_19_messages {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
