<div id="lower_body_paint_repair_services" class="tabcontent">
  <div id="lower_body_paint_repair_service_header" class="">
    <h1>LOWER BODY PAINT REPAIR SERVICES</h1>
    <p>
      Any customer wanting their personal vehicle to receive lower body paint and repair services can select from any of the options below. All servicing is done by appointment and scheduled via email or over the phone. Each appointment can last up to 6+ hrs. We do offer vehicle pick up / drop off services or a drop off for assessment or appointments.
    </p>
  </div>
  <h2><strong>Assessment Required for ALL Services</strong></h2>
  <div class="">
    <h3>Rear Bumper Repairs / Paint</h3>
    <p>
      Repair cost varies based on the rear bumpers damage due to labor requirements, product needs, and hours for completion.
    </p>
  </div>
  <div class="">
    <h3>Front Bumper Repairs / Paint</h3>
    <p>
      Repair cost varies based on the front bumpers damage due to labor requirements, fog lights or electrical impacts, product needs, and hours for completion.
    </p>
  </div>
  <div class="">
    <h3>Side Molding Repairs / Paint</h3>
    <p>
      Any vehicles side molding.
    </p>
  </div>
</div>
