/* Set height of body and the document to 100% to enable "full page tabs" */
footer {
  width: 100%;
  align-content: center;
}

li {
  list-style: none;
}

/* Style tab links */
.tablink {
  background-color: #0068ad;
  cursor: pointer;
}

.tablink:hover {
  background-color: #bfc9cf;
}

.tablink a,
.detail_tablink a {
  font-size: 17px;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}
.tablink a {
  color: white;
}

.detail_tablink a {
  color: black;
}

.detail_tablink {
  background-color: white;
  border: 1px solid #0068ad;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-tabs {
  border-bottom: 1px solid white;
}

.detail_tablink:hover {
  background-color: #0068ad;
  color: white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  padding: 20px 20px;
  height: 100%;
}

.detail_tabcontent {
  color: white;
  padding: 20px 20px;
  height: 100%;
}

#detail_services,
#clear_bra_services {
  background-color: #0068ad;
}
#tint_services,
#lower_body_paint_repair_services {
  background-color: white;
  color: black;
  border: 1px solid #0068ad;
}

.sticky {
  position: sticky;
  top: 0; /* it does not reposition right away,
             but determines at which point it sticks */
}
