/* Set height of body and the document to 100% to enable "full page tabs" */
footer {
  width: 100%;
  align-content: center;
}

li {
  list-style: none;
}

/* Style tab links */
.tablink {
  background-color: #0068ad;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #bfc9cf;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  // display: none;
  padding: 100px 20px;
  height: 100%;
}

#detail_services {
  background-color: red;
}
#tint_services {
  background-color: green;
}
#clear_bra_services {
  background-color: blue;
}
#lower_body_paint_repair_services {
  background-color: orange;
}
