{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=241addbcc66143a9a74e1ac8d5477c7d&filter=circle:-104.9027739090717,39.739812576697716,24150%7Ccountrycode:us&format=json&limit=3&text=16639%20E%20Atlantic%20Pl,%20Aurora,%20CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"housenumber\":\"16639\",\"street\":\"East Atlantic Place\",\"city\":\"Aurora\",\"county\":\"Arapahoe County\",\"state\":\"Colorado\",\"postcode\":\"80013\",\"country\":\"United States\",\"country_code\":\"us\",\"lon\":-104.7958865510204,\"lat\":39.68145116326531,\"state_code\":\"CO\",\"formatted\":\"16639 East Atlantic Place, Aurora, CO 80013, United States of America\",\"address_line1\":\"16639 East Atlantic Place\",\"address_line2\":\"Aurora, CO 80013, United States of America\",\"result_type\":\"building\",\"rank\":{\"importance\":0.621,\"popularity\":4.010270691317906,\"confidence\":0,\"confidence_city_level\":1,\"match_type\":\"full_match\"},\"place_id\":\"515efd24ceef325ac059d805aeca39d74340f00102f9015f4b030100000000c00203\",\"bbox\":{\"lon1\":-104.79593655102,\"lat1\":39.681401163265,\"lon2\":-104.79583655102,\"lat2\":39.681501163265}},{\"country_code\":\"us\",\"housenumber\":\"16639\",\"street\":\"East Atlantic Place\",\"country\":\"United States\",\"county\":\"Arapahoe County\",\"datasource\":{\"sourcename\":\"openaddresses\",\"attribution\":\"© OpenAddresses contributors\",\"license\":\"BSD-3-Clause License\"},\"postcode\":\"80013-1209\",\"state\":\"Colorado\",\"city\":\"Aurora District\",\"lon\":-104.79558,\"lat\":39.681927,\"state_code\":\"CO\",\"formatted\":\"16639 East Atlantic Place, Aurora District, [...]
