{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=241addbcc66143a9a74e1ac8d5477c7d&filter=circle:-104.9027739090717,39.739812576697716,24150%7Ccountrycode:us&format=json&limit=3&text=1750%20Welton%20Street,%20Denver,%20CO%2080202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"name\":\"Grand Hyatt Denver\",\"housenumber\":\"1750\",\"street\":\"Welton Street\",\"suburb\":\"Central Business District\",\"city\":\"Denver\",\"state\":\"Colorado\",\"postcode\":\"80202\",\"country\":\"United States\",\"country_code\":\"us\",\"lon\":-104.98882900462186,\"lat\":39.7457646,\"state_code\":\"CO\",\"formatted\":\"Grand Hyatt Denver, 1750 Welton Street, Denver, CO 80202, United States of America\",\"address_line1\":\"Grand Hyatt Denver\",\"address_line2\":\"1750 Welton Street, Denver, CO 80202, United States of America\",\"category\":\"building.accommodation\",\"result_type\":\"amenity\",\"rank\":{\"importance\":0.31100000000000005,\"popularity\":8.195277376671587,\"confidence\":1,\"confidence_city_level\":1,\"confidence_street_level\":1,\"match_type\":\"inner_part\"},\"place_id\":\"51fa0b73f9483f5ac059dcc1e33675df4340f00102f9011e4b2e1200000000c002019203124772616e642048796174742044656e766572\",\"bbox\":{\"lon1\":-104.9894206,\"lat1\":39.7453103,\"lon2\":-104.9882383,\"lat2\":39.74622}}],\"query\":{\"text\":\"1750 Welton Street, Denver, CO 80202\",\"parsed\":{\"housenumber\":\"1750\",\"street\":\"welton street\",\"postcode\":\"80202\",\"city\":\"denver\",\"state\":\"co\",\"expected_type\":\"building\"}}}"
        }
      },
      "recorded_at": "Sun, 31 Jul 2022 04:00:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}