{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=241addbcc66143a9a74e1ac8d5477c7d&filter=circle:-104.9027739090717,39.739812576697716,24150%7Ccountrycode:us&format=json&limit=3&text=7350%20E%20Colfax%20Ave,%20Denver,%20CO%2080220",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"country_code\":\"us\",\"housenumber\":\"7350\",\"street\":\"East Colfax Avenue\",\"country\":\"United States\",\"county\":\"Denver County\",\"datasource\":{\"sourcename\":\"openaddresses\",\"attribution\":\"© OpenAddresses contributors\",\"license\":\"BSD-3-Clause License\"},\"postcode\":\"80220\",\"state\":\"Colorado\",\"city\":\"Denver\",\"suburb\":\"East Colfax\",\"lon\":-104.902808,\"lat\":39.739846,\"state_code\":\"CO\",\"formatted\":\"7350 East Colfax Avenue, Denver, CO 80220, United States of America\",\"address_line1\":\"7350 East Colfax Avenue\",\"address_line2\":\"Denver, CO 80220, United States of America\",\"result_type\":\"building\",\"rank\":{\"popularity\":4.8846102860706555,\"confidence\":1,\"confidence_city_level\":1,\"confidence_street_level\":1,\"match_type\":\"full_match\"},\"place_id\":\"514ca4349bc7395ac059c8091346b3de4340c00203\"}],\"query\":{\"text\":\"7350 E Colfax Ave, Denver, CO 80220\",\"parsed\":{\"housenumber\":\"7350\",\"street\":\"e colfax ave\",\"postcode\":\"80220\",\"city\":\"denver\",\"state\":\"co\",\"expected_type\":\"building\"}}}"
        }
      },
      "recorded_at": "Fri, 22 Jul 2022 04:06:19 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}