{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=241addbcc66143a9a74e1ac8d5477c7d&filter=circle:-104.9027739090717,39.739812576697716,24150%7Ccountrycode:us&format=json&limit=3&text=9551,%20S%20University%20Blvd,%20Highlands%20Ranch,%20CO,%2080126",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"name\":\"King Soopers\",\"housenumber\":\"9551\",\"street\":\"South University Boulevard\",\"county\":\"Douglas County\",\"state\":\"Colorado\",\"postcode\":\"80126\",\"country\":\"United States\",\"country_code\":\"us\",\"lon\":-104.9443021,\"lat\":39.5423024,\"state_code\":\"CO\",\"formatted\":\"King Soopers, 9551 South University Boulevard, Douglas County, CO 80126, United States of America\",\"address_line1\":\"King Soopers\",\"address_line2\":\"9551 South University Boulevard, Douglas County, CO 80126, United States of America\",\"category\":\"commercial.supermarket\",\"result_type\":\"amenity\",\"rank\":{\"importance\":0.42099999999999993,\"popularity\":3.9011373488968917,\"confidence\":1,\"confidence_city_level\":1,\"confidence_street_level\":1,\"match_type\":\"inner_part\"},\"place_id\":\"51d34213726f3c5ac0596a45402a6ac54340f00103f901045ba31c00000000c0020192030c4b696e6720536f6f70657273\",\"bbox\":{\"lon1\":-104.9443521,\"lat1\":39.5422524,\"lon2\":-104.9442521,\"lat2\":39.5423524}}],\"query\":{\"text\":\"9551, S University Blvd, Highlands Ranch, CO, 80126\",\"parsed\":{\"housenumber\":\"9551\",\"street\":\"s university blvd\",\"postcode\":\"80126\",\"city\":\"highlands ranch\",\"state\":\"co\",\"expected_type\":\"building\"}}}"
        }
      },
      "recorded_at": "Sun, 31 Jul 2022 04:04:21 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}