{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=241addbcc66143a9a74e1ac8d5477c7d&filter=circle:-104.9027739090717,39.739812576697716,24150%7Ccountrycode:us&format=json&limit=3&text=19202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[],\"query\":{\"text\":\"19202\",\"parsed\":{\"postcode\":\"19202\",\"expected_type\":\"unknown\"}}}"
        }
      },
      "recorded_at": "Fri, 22 Jul 2022 04:48:08 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}